



.header {
    margin-right: 5em;
    &__list {
        display: flex;
    }

    &__li {
        margin-right: 3em;
        display: inline-block;
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #4a4a4a;
        transition: color .3s linear;

        &:hover {
            color: rgb(71, 137, 252);
        }

    }

    &__icons {
        display: inline-block;
        margin-right: .3em;
    }

    &__ico {
        display: block;
    }
}